body{
    background-color: rgb(100, 4, 4);
}
#one { background-image: linear-gradient(rgb(0, 0, 0), rgb(189, 6, 6));
padding: 15px; }
#two{ background-image: linear-gradient(rgb(0, 0, 0), rgb(189, 6, 6));
padding: 15px;}
#three{ background-image: linear-gradient(rgb(0, 0, 0), rgb(189, 6, 6));
padding 15px}
.flex{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 30px;
}
a{color: rgb(243, 243, 243);
    font-size: 20px;
}
.pro{
    display: flex;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
}
#sooo{
    flex-direction: column;
    font-size: 30px;
}
.fle{
    background-color: rgb(255, 0, 0)240, 240);
    padding: 30px;
    margin: 10px;
}
.button{
    background-color: red;
    padding: 10px;
    color: white;
}
.cri{
    margin:30px ;
}
.one{
    display: flex;
}
.two{
    display: flex;
}
.three{
display: flex;
}
.crii{
    margin: 30px;
}
.criii{
    margin: 30px; 
}
.emo{
    background-color: red;
    margin: 30px;
    font-size:30px ;
}
.netflix{
    display:flex;
}
.net{
    position: relative;
    left: 100px;
    bottom: 300px;
}
.nuu{
    text-align: center;
    position: relative;
    bottom: 650px;
}
.fpic{
    position: relative;
    bottom: 600px;}
    footer{
        display: flex;
        justify-content: center;
        height: 100vh;
        margin: 0;
     background-image: url(/assets/image\ 33.png)
        
    }
    form{
        background-color: black;
        border: solid 10px;
        justify-content: center;
        margin-bottom: 60px;
        margin-top: 60px;
      
    }
    .need{
        display: flex;
    }
    
